paletaColores {
    color: #f1f1f1;
    color: #F3DEBA;
    color: #ABC4AA;
    color: #A9907E;
    color: #675D50;
    color: #292724;
  }
  
  
  /*----------------NORMALIZACION PARA NAVEGADORES -------------*/
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    /*no funciona de aca -- veerrrr!!!!!!!!!!*/
    color: #f1f1f1;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  
  /*------------------------------------------------------------------------*/
  /*INICIO CSS - SE UTILIZA CSS-GRID PARA CONTAINER PRINCIPAL - DISEÑO MOBILE FIRST - 1ER BRECKPOINTS HASTA 576px*/
  
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav'
      'main main main main main main'
      'footer footer footer footer footer footer';
  }
  
  /*---------------------HEADER-------------------*/
  
  header {
    grid-area: header;
    background-color: #F3DEBA;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header h5 {
    color: #292724;
    font-size: 1.1em;
    margin: 0px;
    font-weight: 700;
  }
  
  /*--------------------------NAV--------------------------*/
  
  nav {
    grid-area: nav;
    background-color: #A9907E;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #iconoVaso {
    width: 160px;
    padding: 2px;
    display: inline;
    margin: 0 10px;
  }
  
  .menu-iconos {
    margin: 10px;
  }
  
  .menu-iconos .botonMenu:hover {
    border-radius: 30px;
    padding: 8px 16px;
    border: solid 1px #f1f1f1;
  }
  
  .botonMenu {
    font-size: 1.2em;
    color: #f1f1f1;
    font-weight: 600;
    padding: 8.8px 16.8px;
    display: block;
    margin: 5px 15px;
    text-align: center;
  }

  /*--------------------------------------FOOTER-----------------------------------*/
  
  footer {
    grid-area: footer;
    text-align: center;
    background-color: #F3DEBA;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
    color: #675D50;
  }
  
  footer p {
    padding: 0px;
    margin: 0px;
    display: inline-block;
  }
  
  .grupoIconosFooter {
    display: inline-block;
    align-items: center;
    padding: 0px;
  }
  
  .grupoIconosFooter img {
    width: 25px;
  }
  
  .iconoFooter {
    color: #292724;
    font-size: 30px;
    margin: 0 15px;
  }
  
  /*-----------------------------CAJA main----------------------------*/
  
.main {
    grid-area: main;
    background-color: #292724;
    color: #f1f1f1;
    padding: 30px 20px;
    text-align: center;
  }


  
/*-----------------css body----------------------------*/


main {


    background-image: url('../recursos/granoCafeCaeV2.jpg');
    /* imagen de fondo */
    background-size: cover;
    /* Ajusta la imagen al tamaño de la ventana  */
    background-attachment: fixed;
    /* Fija la imagen para que no se desplace con el contenido */
    background-position: center;
    /* Centra la imagen */
    background-color: #292724;
    /*  color de fondo alternativo */


}




/*---------------------boton pedido ok---------------------*/



.botonPedido {
    text-decoration: none;
    border-radius: 20px;
    color: whitesmoke;
    background-color: #A9907E;
    padding: 8px 16px;
    display: inline-block;
    margin: 10px 30px;
    font-size: 1.1em;
    font-weight: 600;
    transition-duration: 0.2s;
}

.botonPedido:hover {
    background-color: #8dae8c;
}

/*-----------------css nuevo para menu----------------------*/

.iconoMenu {
    width: 2em;
    vertical-align: middle;
    margin: 0px 20px;
}

.tituloMenu {
    /* titulo individual verde de cada menu */
    font-weight: 700;
    color: #ABC4AA;
    text-decoration: underline;
    padding: 30px;
}

.envoltorio {
    border: solid 1px red;
    text-align: center;
    font-size: 1.2em;
    width: 80%;
    margin: auto;


    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

*/
}


.titulo {
    /*contenedor titulo*/
    
    font-size: 1.6em;
    color: #F3DEBA;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 40px;
    width: 100%;

}

.menu1 {
    /*contenedor menu1*/


    background-color: rgba(41, 39, 36, 0.5);
    border-radius: 15px;
    margin: 30px ;
    padding: 20px;
   
    

}

.menu2 {
    /*contenedor menu2*/


    background-color: rgba(41, 39, 36, 0.5);
    border-radius: 15px;
    margin: 30px ;
    padding: 20px;

}

.menu3 {
    /*contenedor menu3*/


    background-color: rgba(41, 39, 36, 0.5);
    border-radius: 15px;
    margin: 30px ;
    padding: 20px;

}

.menu4 {
    /*contenedor menu4*/


    background-color: rgba(41, 39, 36, 0.5);
    border-radius: 15px;
    margin: 30px ;
    padding: 20px;

}

.texto {
    /*contenedor texto inferior*/
 margin:30px;


}


/*---------------- tablas -----------*/

.tabla {
    /*border: 1px solid red;*/
    border-collapse: collapse;
    font-size: 0.9em;


}

.tabla td {
    /*celdas en general*/
    padding: 3px 15px;
}

.fila1 {
    /*celdas izq*/
    text-align: left;
    min-width: 270px;
}


.fila2 {
    /* celdas derecha*/
    text-align: right;
    min-width: 140px;
}

.tabla tr:hover {
    color: #8DAE8C;
    font-weight: 650;
    font-size: 1.1em;
}

br {
    margin: 10px;
}

.semiContenedor {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
  
  
  
  
  
  
  
  
  /*----------------HASTA ACA ES EL CSS PARA TAMAÑOS INFERIORES A 576px-------------------*/
  /* NUEVO PUNTO DE QUIEBRE // DISPOSITIVOS DE 576px A 992px // SE IMPLEMENTA MEDIA QUERIES */
  
  @media (min-width: 576px) {
    .grid-container {
      grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main' 
        'footer footer footer footer footer footer';
    }
  
    nav {
      padding: 0 20px;
      display: flex;
      justify-content: center;
    }
  
    #iconoVaso {
      width: 100px;
    }
  
    .botonMenu {
      font-size: 1.3em;
      display: inline;
    }
  
    .menu-iconos {
      margin: 10px;
    }
  
    .grupo1IconosNav {
      padding: 10px;
    }
  
    .grupo2IconosNav {
      padding: 10px;
    }
  
      
    
  
  }
  
  /* NUEVO PUNTO DE QUIEBRE // DISPOSITIVOS SUPERIORES A 992px // SE IMPLEMENTA MEDIA QUERIES */
  
  @media (min-width: 992px) {
    .grid-container {
      grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'main main main main main main'
        'footer footer footer footer footer footer';
      grid-template-rows: 4% 8% auto 10%;
      grid-template-columns: 18% 18% 16% 15% 15% 18%;
    }
  
    nav {
      padding: 0 20px;
      display: flex;
      justify-content: flex-start;
    }
  
    #iconoVaso {
      width: 50px;
    }
  
    .botonMenu {
      font-size: 1.3em;
      display: inline;
    }
  
    .menu-iconos {
      margin: 10px;
    }
  
    .grupo1IconosNav {
      display: inline;
    }
  
    .grupo2IconosNav {
      display: inline;
    }
  
      
    
  }
  
  
  /* segun la orientacion del navegador.
  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
  
  @media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }*/
  
  /*ocultar elemento //  If the screen size is 600px wide or less, hide the element 
  @media only screen and (max-width: 600px) {
    div.example {
      display: none;
    }
  }
  */