paletaColores {
  color: #f1f1f1;
  color: #F3DEBA;
  color: #ABC4AA;
  color: #A9907E;
  color: #675D50;
  color: #292724;
}


/*----------------NORMALIZACION PARA NAVEGADORES -------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*------------------------------------------------------------------------*/
/*INICIO CSS - CSS-GRID PARA CONTENEDOR PRINCIPAL - DISEÑO MOBILE FIRST - 1ER BRECKPOINTS HASTA 576px*/

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'left left left left left left'
    'footer footer footer footer footer footer';
  grid-template-rows: 4% auto auto 10%;
  /*columna 3 y 4 prefijadas para visializar diseño responsivo // luego liberar con AUTO*/
}



/*--------------------------HEADER----------------------*/

header {
  grid-area: header;
  background-color: #F3DEBA;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h5 {
  color: #292724;
  font-size: 1.1em;
  margin: 0px;
  font-weight: 700;
}

/*--------------------------NAV--------------------------*/

nav {
  grid-area: nav;
  background-color: #A9907E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  /*verrrr*/
}

/****contenedor 1 de 3 // solo icono vaso  ****/

#contenedorIcono {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconoVaso {
  width: 60px;
  padding: 5px 0px;
  display: inline;
  margin: 0 10px;
}

/****contenedor 2 de 3 // menuHamburguesa****/

#contenedorHamburguesa {
  /*border: solid 1px orange;*/
  width: 60%;
  display: flex;
  justify-content: center;
}

#menuHamburguesa {
  display: flex;
  color: #f1f1f1;
  background-color: #A9907E;
  font-size: 1.2em;
  font-weight: bold;
  border: solid 2px #f1f1f1;
  border-radius: 0.3em;
  width: 30px;
  justify-content: center;
  position: absolute;
  top: 0.5em;
  right: 0.8em;
}

#menuHamburguesa:hover {
  color: #A9907E;
  background-color: #f1f1f1;
}

#menuHamburguesa-cerrar {
  display: none;
}

#menuHamburguesa-check {
  display: none;
}

/*condicional de visualizacion // (~ alt126)*/
#menuHamburguesa-check:not(:checked)~.menu-iconos {
  display: none;
}

#menuHamburguesa-check:checked~.menu-iconos {
  display: inline;
}


/*CONDICIONAL QUE ALTERNA LOS SIMBOLOS MOSTRADOS EN MENU HAMB*/
#menuHamburguesa-check:checked~label #menuHamburguesa-abrir {
  display: none;
}

#menuHamburguesa-check:checked~label #menuHamburguesa-cerrar {
  display: inline-block;
}

/****contenedor 3/3 // 4 iconos navegador ****/

.menu-iconos .botonMenu:hover {
  border-radius: 30px;
  padding: 0.1em;
  border: solid 1px #f1f1f1;
}

.botonMenu {
  font-size: 1.2em;
  color: #f1f1f1;
  font-weight: 600;
  /*padding: 8.8px 16.8px;*/
  display: block;
  margin: 9px 9px;
  text-align: center;
  width: 7em;
  padding: auto;
}

/*-----------------------------CONTENEDOR MAIN  IZQUIERDA----------------------------*/

.cajaIzquierda {
  grid-area: left;
  /*border: solid 2px blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #675D50;

}

/* a partir de aca va el css nuevo */

/*css jorge*/

/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1;
    background-color: #675D50;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  body
  {
   font-family: "Montserrat", sans-serif;   
  }*/

.main-container {
  display: grid;
  color: white;
  /*border: solid 2px pink;*/
  padding: 1.5em;
}

.tituloPromos {
  display: grid;
  justify-content: center;
  color: #ABC4AA;
  margin-bottom: 0.7em;
}

.tituloPromos h2 {
  font-weight: 800;
  font-size: 2em;
}




.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: 0.8%;
  text-align: center;
  /*agregado*/
  justify-content: center;
  /*border: solid 3px red;*/

}


.card-promo {
  justify-content: center;
  /*border: solid 3px blue;*/
  background-color: #292724;
  align-content: center;
  border-radius: 1.2em;
}


.img-card {
  width: 80%;
  border-radius: 15px 15px 0 0;
}

.promo-details h3 {
  font-weight: 800;
  font-size: 2.5em;
}

.promo-details h4 {
  font-weight: 600;
  font-size: 1em;
  color: #F3DEBA;
  margin:0.9em;
}


input{
background-color:aliceblue;
  width: 100%;
  padding-left: 10px;
}


.card-form {
  background-color: #ABC4AA;
  border-radius: 20px;
  color: Black;
  text-align: left;
  /*border: solid 3px yellow;*/
padding: 1.5em 0.6em;
}

.card-form h2 {
  display: grid;
  font-weight: 800;
  font-size: 2em;
  justify-content: space-around;
 text-align: center;
  margin:0;
  padding: 0;
}


.formSuscrip {
  border: solid 3px #675D50;
  margin: 3em 0;
  padding: 1em;
  border-radius: 25px;
}

.formSuscrip h3 {
 text-align: center;
 margin: 0.3em;
 text-decoration: underline;
 color: #675D50;
 font-weight: 700;
  font-size: 1.5em;
}

.suscribirse {
text-align: center;
 }



.suscribirse input{
  text-align: center;
  background-color: #292724;
  color: #f1f1f1;
  padding: 0.4em ;
  border-radius: 10px;
  margin:1.4em;
  font-weight: 600;
  font-size: 1em;
  width: 40%;
  padding-left: 0px;
 }
 





/*--------------------------------------FOOTER-----------------------------------*/

footer {
  grid-area: footer;
  text-align: center;
  background-color: #F3DEBA;
  padding: 5px;
  font-size: 0.8em;
  color: #675D50;

}

footer p {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.grupoIconosFooter {
  display: inline-block;
  align-items: center;
  padding: 0px;
}

.grupoIconosFooter img {
  width: 25px;
}

.iconoFooter {
  color: #292724;
  font-size: 30px;
  margin: 0 15px;
}

/*----------------HASTA ACA ES EL CSS PARA TAMAÑOS INFERIORES A 576px-------------------*/
/* NUEVO PUNTO DE QUIEBRE // DISPOSITIVOS DE 576px A 992px // SE IMPLEMENTA MEDIA QUERIES */

@media (min-width: 576px) {
  .grid-container {
    grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav'
      'left left left left left left'
      'footer footer footer footer footer footer';
    grid-template-rows: 4% 17% auto 10%;
  }

  /* ------------------NAV------------------ */
  nav {
    padding: 0 20px;
    display: flex;
    justify-content: center;
  }

  /*--*/
  #contenedorIcono {
    width: 30%;
  }

  #iconoVaso {
    width: 70px;
  }

  /*--*/
  #contenedorHamburguesa {
    width: 70%;
  }

  /*DESPARECE x y 3 LINEAS DEL MENU HAMBUERGUESA*/
  #menuHamburguesa,
  #menuHamburguesa-check {
    display: none;
  }

  /*HABILITA VISUALIZACION DEL MENU PRINCIPAL*/
  #menuHamburguesa-check:not(:checked)~.menu-iconos {
    display: block;
  }

  #menuHamburguesa-check:checked~.menu-iconos {
    display: block;
  }

  /*--*/
  .menu-iconos {
    margin: 10px;
  }

  .menu-iconos .botonMenu:hover {
    padding: 0.3em 0.7em;
  }

  .botonMenu {
    font-size: 1.3em;
    display: inline;
    padding: 8.8px 16.8px;
  }

  .grupo1IconosNav {
    padding: 10px;
  }

  .grupo2IconosNav {
    padding: 10px;
  }


  /* -----------------------MAIN---------------------*/









}


/* NUEVO PUNTO DE QUIEBRE // DISPOSITIVOS SUPERIORES A 992px // SE IMPLEMENTA MEDIA QUERIES */

@media (min-width: 992px) {
  .grid-container {
    grid-template-areas:
      'header header header header header header'
      'nav nav nav nav nav nav'
      'left left left left left left'
      'footer footer footer footer footer footer';
    grid-template-rows: 4% 8% auto 10%;
    grid-template-columns: 16% 16% 18% 16% 16% 18%;
  }

  /*------------------NAV----------------*/
  nav {
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
  }

  /*-----*/
  #contenedorIcono {
    width: 10%;
  }

  #iconoVaso {
    width: 50px;
  }


  /*----*/
  #contenedorHamburguesa {
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }


  /*---*/
  .menu-iconos {
    margin: 10px;
  }

  .grupo1IconosNav {
    display: inline;
  }

  .grupo2IconosNav {
    display: inline;
  }

  .botonMenu {
    font-size: 1.3em;
    display: inline;
    margin: 20px;
  }

  /*-----------------MAIN-------------------*/
  .cards-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .card-promo {
    width: 25%;
  }

  .card-form {
    width: 25%;
  }

  .img-card {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

}

/* segun la orientacion del navegador.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp

@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
}