/* #F3DEBA CREMA
#ABC4AA VERDE
#8DAE8C M.CLARO
#675D50 M.OSCURO
#292724 casi negro */

/*NORMALIZACION PARA NAVEGADORES ----------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*NORMALIZACION PARA NAVEGADORES ----------------------------*/

header h3 {
    background-color: #F3DEBA;
    text-align: center;
    margin: 0;
    padding: 5px;
    color: #292724;
}

.menu-iconos {
    background-color: #A9907E;
    color: #F3DEBA;
    font-weight: 600;
}

.menu-iconos img {
    padding: 10px;
}

.menu-iconos .botonMenu {
    margin: 10px;
    padding: 8.8px 16.8px;
}

.menu-iconos .botonMenu:hover {
    border-radius: 30px;
    padding: 8px 16px;
    border: solid 1px white;
}

body {
    background-color: #292724;
    width: 100%;
    margin: auto;
}

footer {
    background-color: #F3DEBA;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #675D50;
    min-height: 10vh;
}

main {
    color: whitesmoke;
    padding: 10px;
    align-items: center;
    align-content: center;
    min-height: 73vh;
}


.botonMenu {
    padding: 20px;
    font-size: 1.3em;
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
}

.grupoIconos {
    display: inline-block;
    margin-bottom: 10px;
}

.grupoIconos img {
    width: 30px;
    margin: 0 10px;
}

#iconoVaso {
    width: 60px;
    color: white;
    vertical-align: middle;
    margin: 0px 40px 0px 10px;
}
.contenedor {
	width: 70%;
	max-width: 1200px;
	margin: auto;
	padding: 10px 0;
    display: flex;
}
.tituloPromos{
    text-align: center;
    margin-bottom: 25px;
    padding: 0;
    color: #F3DEBA;
}
.contenedor-promociones {
	display: flex;
    justify-content: space-between;
}
.card {    
	border-radius: 10px;
	min-height: 100px;
	font-weight: bold;
	padding: 25px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    width: calc(25% - 20px); 
    margin-right: 60px;
    box-sizing: border-box;	
    
}
.card .textos {
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
	
}
.card h3{
    font-size: large;
    color: rgba(0, 0, 0);
}
.card p{
    text-align: center;
    font-size:x-large;
    color:#292724;
    font-size: 30px;
    
}
.botonPromo{
    margin-bottom: 20px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.botonPedirPromo{
    width: 80px;
    height: 25px;
    position: relative;
    box-sizing: border-box;
    background-color: #292724;
    color: #F3DEBA;
    font-size: x-large;
}

.form{
    width: 30%;
    border-radius: 10px;
	font-size: medium;
    text-align: center;
    color: #292724;
	padding: 20px;
    background-color: #F3DEBA;
	background-size: cover;
	background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.FormSuscrip{
   height: 75%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 5px;
}